# Auto detect text files and perform LF normalization
#  text=auto  
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
*.jfm
*text eol=lf